<form class="pds-form" {{on "submit" this.saveVariableSettings}}>

  <div part="fields" class="card">
    <div class="card-header">
      <h4>{{t "form.project_settings.variables.title"}}</h4>
    </div>
    <fieldset class="pds-formFieldSet">
      <div class="pds-formField">
        <Pds::Input
          @type="text"
        />
      </div>
  </fieldset>
  </div>

  <Pds::Button @variant="primary" @type="submit">{{t "form.project_settings.variables.button"}}</Pds::Button>
</form>
